.settings
licence.idea
!/licence.idea
/.gradle/
/build/
bin/
*.bak
.idea
/.DS_Store
robo4j-hw-rpi/out
robo4j-math/out
robo4j-core/out
robo4j-http/out
robo4j-page/out
robo4j-hw-lego/out
robo4j-units-lego/out
robo4j-socket-http/out
robo4j-db-sql/out
robo4j-units-rpi/out
/.nb-gradle/
.nb-gradle-properties
