<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p: %c - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="STDOUT" level="DEBUG"/>
			<AppenderRef ref="STDOUT" level="INFO"/>
		</Root>
	</Loggers>
</Configuration>

