name: robo4j-verification
run-name: ${{ github.actor }} is robo4j runner
on:
  push:
    branches:
      - 'master'
      - 'feature/**'
jobs:
  robo4j-install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Java 25
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '25'
          java-package: 'jdk'
          mvn-toolchain-id: 'JavaSE-25'
      - name: Setup Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: '3.9.6'
      - name: Cache Maven local
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-robo4j-maven
      - name: Build and test
        run: mvn install